.style1 {
	background-color:#000000;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:white;
	font-weight:bold;
}
.style2 {
	background-color:#0054FF;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:green;
	font-style:bold;
}
